<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="ernest_system">  
  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_fake_hardware" default="true" /> 
  <xacro:arg name="use_gazebo" default="true" />
  <xacro:arg name="use_lowpoly" default="true" /> 

  <xacro:include filename="$(find ernest_description)/urdf/ernest.urdf.xacro" /> 
  <xacro:include filename="$(find ernest_description)/urdf/robot_core.urdf.xacro" />

  <!-- Import stm ros2_control description -->
  <xacro:include filename="$(find ernest_description)/urdf/joint_traj_controller.xacro"/>
  <xacro:include filename="$(find ernest_description)/urdf/ernest_gazebo.xacro" /> 

  <xacro:ernest_system
    name="ErnestSystem"
    use_gazebo="$(arg use_gazebo)"/> 

  <xacro:if value="$(arg use_gazebo)">
    <xacro:ernest_gazebo prefix=""/>
  </xacro:if> 

  <xacro:if value="$(arg use_lowpoly)">
    <xacro:robot_core prefix=""/>
  </xacro:if>

  <xacro:unless value="$(arg use_lowpoly)">
    <xacro:ernest prefix=""/>
  </xacro:unless> 

</robot>