<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="ernest_gazebo" params="prefix">
  <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find ernest_bringup)/config/joint_controller_config.yaml</parameters>
      </plugin>
  </gazebo>
</xacro:macro>

</robot>