<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="ernest_gazebo" params="prefix">
  <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find bringup)/config/joint_controller_config.yaml</parameters>
      </plugin>
  </gazebo>
<!-- Include Gazebo plugin for 3D pose -->
  <gazebo>
    <plugin filename="libgazebo_ros_p3d.so" name="gazebo_ros_p3d">
      <ros>
          <namespace>p3d</namespace>
          <remapping>odom:=odom</remapping>
      </ros>
      <frame_name>map</frame_name>
      <body_name>base_link</body_name>
      <update_rate>100.0</update_rate>
      <gaussian_noise>0.01</gaussian_noise>
    </plugin>
  </gazebo>

  <gazebo reference="pivot_joint">
    <provide_feedback>true</provide_feedback>
    <sensor name="force_torque_sensor" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>force_torque</topic>
      <enable_metrics>true</enable_metrics>
      <pose>0 0 0 0 0 1.57</pose>
      <force_torque>
        <frame>sensor</frame>
        <measure_direction>child_to_parent</measure_direction>
      </force_torque> 
    </sensor>
  </gazebo>
            
  <gazebo reference="chassis">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="pivot">
  <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="bogie">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="front_left_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rear_left_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="front_right_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rear_right_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="front_left_wheel">
  <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="front_right_wheel">
  <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="rear_left_wheel">
  <material>Gazebo/Grey</material>
  </gazebo>
  <gazebo reference="rear_right_wheel">
  <material>Gazebo/Grey</material>
  </gazebo>
</xacro:macro>

</robot>