<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="ernest_gazebo" params="prefix">
  <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find bringup)/config/joint_controller_config.yaml</parameters>
      </plugin>
  </gazebo>
<!-- Include Gazebo plugin for 3D pose -->
  <gazebo>
    <plugin filename="libgazebo_ros_p3d.so" name="gazebo_ros_p3d">
      <ros>
          <namespace>p3d</namespace>
          <remapping>odom:=odom</remapping>
      </ros>
      <frame_name>map</frame_name>
      <body_name>base_link</body_name>
      <update_rate>100.0</update_rate>
      <gaussian_noise>0.01</gaussian_noise>
    </plugin>
  </gazebo>

            
  <gazebo reference="chassis">
    <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="pivot">
  <material>Gazebo/DarkGrey</material>
  </gazebo>

  <gazebo reference="bogie">
  <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="front_left_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="rear_left_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  <gazebo reference="front_right_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  
  <gazebo reference="rear_right_steer">
  <material>Gazebo/DarkGrey</material>
  </gazebo>
  
  <gazebo reference="front_left_wheel">
    <material>Gazebo/Grey</material>
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>100000.0</kd>
    <slip1>0</slip1>
    <slip2>0</slip2>
    <minDepth>0.001</minDepth>
    <maxVel>0</maxVel>
    <torsional>
      <ode>
        <coefficient>1000</coefficient>
        <slip>0</slip>
      </ode>
    </torsional>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <material>Gazebo/Grey</material>
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>100000.0</kd>
    <slip1>0</slip1>
    <slip2>0</slip2>
    <minDepth>0.001</minDepth>
    <maxVel>0</maxVel>
    <torsional>
      <ode>
        <coefficient>1000</coefficient>
        <slip>0</slip>
      </ode>
    </torsional>
  </gazebo>

  <gazebo reference="rear_left_wheel">
    <material>Gazebo/Grey</material>
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>100000.0</kd>
    <slip1>0</slip1>
    <slip2>0</slip2>
    <minDepth>0.001</minDepth>
    <maxVel>0</maxVel>
    <torsional>
      <ode>
        <coefficient>1000</coefficient>
        <slip>0</slip>
      </ode>
    </torsional>
  </gazebo>
  
  <gazebo reference="rear_right_wheel">
    <material>Gazebo/Grey</material>
    <mu1>1000000.0</mu1>
    <mu2>1000000.0</mu2>
    <kp>1000000.0</kp>
    <kd>100000.0</kd>
    <slip1>0</slip1>
    <slip2>0</slip2>
    <minDepth>0.001</minDepth>
    <maxVel>0</maxVel>
    <torsional>
      <ode>
        <coefficient>1000</coefficient>
        <slip>0</slip>
      </ode>
    </torsional>
  </gazebo>    
</xacro:macro>

</robot>