<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="ernest_system">  

  <!-- Import model -->
  <xacro:include filename="$(find description)/urdf/ernest.urdf.xacro"/> 
  <!-- Import controller -->
  <xacro:include filename="$(find description)/urdf/effort_joint.xacro"/>
  <!-- Import gazebo references + pose -->
  <xacro:include filename="$(find description)/urdf/ernest_gazebo.xacro" /> 

  <xacro:ernest_gazebo/>
  <xacro:ernest/>
  <xacro:effort_joint/>
</robot>